@import url('https://fonts.googleapis.com/css?family=Open+Sans');


p, a, li, h1, h3{
	font-family: 'Open Sans', sans-serif;
}



/* ESTA ES LA CABECERA*/
.cabecera{
	overflow: hidden;
	background-image: url('../images/Pasta-seca-contra-pasta-fresca.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;

}
.cabecera img{
	height: 200px;
	display: block;
	color: white;
	margin: auto;
}

/* AQUI COMIENZA EL MENU*/
.texto{
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
	background: #333;
	overflow: hidden;
	width: 100%;
	max-width: 6000px;
}

ul,ol,dl,p {
	font-size: 1rem;
}
  
li, p {
	line-height: 1rem;
}

.menu ul li{
	list-style: none;
	display: inline-block;
}

.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	padding-inline-start: 2rem;
}
.menu ul li a:hover{
	color: #F69F2C;
}

/* AQUI COMIENZA EL CUERPO */

.grid-container {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "main main main"
        "article1 article2 article3";
    gap: .5em .4em;
}

.item2 {
    grid-area: article1;
	margin: 1rem;
}

.text-h1{
    text-align:center;
    text-transform: uppercase;
    font-size: 2rem;
}

.text-p{
    text-align:left;
    font-size: 1rem;
	line-height: 1.75rem;
}

/* PIE DE PAGINA */
.piedepagina{
	background: #333; 
	color: #ffffff;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}
