@import url('https://fonts.googleapis.com/css?family=Open+Sans');


p, a, li, h1, h3{
	font-family: 'Open Sans', sans-serif;
}



/* ESTA ES LA CABECERA*/
.cabecera{
	overflow: hidden;
	background-image: url('../images/Pasta-seca-contra-pasta-fresca.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;

}
.cabecera img{
	height: 200px;
	display: block;
	color: white;
	margin: auto;
}

/* .cabecera h1{
	text-align: center;
	font-size: 28px;
	color: #F69F2C;
}

.cabecera h3{
	font-size: 25px;
	text-align: center;
	color:dodgerblue;
} */


/* AQUI COMIENZA EL MENU*/
.texto{
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
	background: #333;
	overflow: hidden;
	width: 100%;
	max-width: 6000px;
	
}

ul,ol,dl,p {
	font-size: 1rem;
}
  
li, p {
	line-height: 1rem;
}

.menu ul li{
	list-style: none;
	display: inline-block;
}

.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	padding-inline-start: 2rem;
}
.menu ul li a:hover{
	color: #F69F2C;
}

/* AQUI COMIENZA EL CUERPO */

.grid-container {
    height: 100vh;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: auto;
    border: 1px solid;
    /*align-items: center;*/
    border: 1px solid;
}
.grid-item {
    display:flex; 
	align-items: center;
    justify-content: center;
	width: 100vh;
    padding: .5rem;
	margin: .5rem;
    background-color: whitesmoke ;
    border: 1px solid;
    border-radius: 1%;
    text-align: left;
    transition: transform 250ms ease-in-out;
}

.grid-item:hover{
    transform: scale(1.05);
}
.one {
    grid-column: 2/2;
    grid-row: 1/2;
}

.self {
    grid-column: 1/2;
    grid-row: 1/3;
}

.overlay {
	opacity: .7;
    background-color: blanchedalmond;
}

.bienvenida{	
	background: #999;
	padding: 20px;
		
}
.bienvenida p{
	text-align: center;	
	color: #ffffff;
	margin: 20px 30px ;
}


.parallax{
	width: 100%;
	height: 150px;
	background: url(imagenes/fondo.jpg);
	background-size: 200%;
	background-attachment: fixed;
	background-repeat: no-repeat;	
	overflow: hidden;
}
.parallax a{
	display: block;
	padding: 10px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	background: #000000;
	color: #ffffff;
	margin: 50px auto 50px auto;
	transition: 1s;
}
.parallax a:hover{
	background: orange;
	color: #000000;
}

/* PIE DE PAGINA */
.piedepagina{
	background: #333; 
	color: #ffffff;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}













